body{
    position: absolute;
    width: 1200px;
    height: 3320px;
    font-family: 'Martel', sans-serif;
background: #ffffff;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.border{
    width: 1500px;
    height: 1000px;
    margin-left: 210px;
    /* margin-bottom: 20px; */
   background-color:#ffffff;
}

.div-border{
    width: 1405px;
    height: 850px;
  /* margin-left: 500px; */
    margin-left: 47px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), radial-gradient(85.29% 204.86% at 4.07% 87.73%, #000000 0%, rgba(202, 202, 202, 0.63) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: normal, normal, normal, darken;
    box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.top-conection{
    display: flex;
    /* position: absolute; */
    width: 1206px;
    height: 45px;
   margin-left: 173px;
    
}
.item{
    color: #FFFFFF;
}
.top-conection>.item:not(:last-child) {
    margin-right: 11px;
    }
    
.catalog{
    /* position: absolute; */
    width: 172px;
    height: 36px;
    
    font-family: 'Martel';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 67px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Buy{
    /* position: absolute; */
    width: 152px;
    height: 38px;
    
    font-family: 'Martel';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 67px;
    
    color: #FFFFFF;
}

.Delivery-Payment{
    /* position: absolute; */
    width: 375px;
    height: 39px;
    
    font-family: 'Martel';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 67px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Contacts{
    /* position: absolute; */
    width: 204px;
    height: 38px;

font-family: 'Martel';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 67px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-ul{
    display: flex;
    position: absolute;
    margin-top: 110px;
    width: 568px;
    height: 111px;
    left: 31px;
    top: 533px;
    margin-left: 780px;
}
.img-ul>.img:not(:last-child) {
    margin-right: 11px;
    }
    .hero{
        position: absolute;
        width: 397px;
        height: 142px;
        margin-left:17px ;
        margin-top: 5px;
    }
.hero-title{
    width: 464px;
    height: 77px;
    
    font-family: 'Martel';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 94px;
    
    color: #FFFFFF;
    
    text-shadow: 7px 10px 4px rgba(0, 0, 0, 0.35);
}
.border-s{
    width: 1200px;
    height: 600px;
    margin-left: 410px;
    /* margin-bottom: 20px; */
   background-color:#ffffff;
}
.video{
max-width:600px ;

}
.video-item{
    width: 800px;
    height: 502px;
    margin-top: 91px;
    margin-left: 200px;
}

.border-p{
    position: absolute;
    width: 1200px;
    height: 370px;
    margin-left: 410px;
    /* margin-top: 1457px; */
    
    background-color:#ffffff
}
.text-ul{
    display: flex;
    width: 812px;
    height: 37px;
   background-color: aqua;
}

.text{
    width: 160px;
height: 35px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}